body {
    background-color: #2cfd9b; 
    font-family: Arial, sans-serif;
}
h1 {
    color: #333;
    text-align: center;
}
.button-container {
    text-align: center;
    margin-top: 20px;
}
.button-container button {
    background: none;
    border: none;
    color: #555;
    margin: 0 15px;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 20px;
    border: 2px solid #555;
}
.button-container button:hover {
    color: #6f0279;
    background-color: #f3ef14;
}
.contributors {
    text-align: center;
    margin-top: 30px;
}
.contributors button {
    background-color: #d6c20b;
    border: none;
    color: #6d5a05;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    margin: 0 10px;
}
.contributors button:hover {
    color: #f106f1;
}
.description {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: #333;
}
.image-container {
    text-align: center;
    margin-top: 20px;
}
.image-container img {
    width: 200px;
    height: auto;
    cursor: pointer;
}
audio {
    display: none;
}
#main-image {
    display: none;
}
img {
    height: 100px; /* patch 1 for the 3ds */ 
}
.imagediv {
    text-align: center; /* patch 2 for the 3ds */
    padding: 10px; /* patch 4 for the 3ds */
}